{% extends 'base_table_admilte.html.twig' %}
{% block title %} Utilisateurs {% endblock %}
{% block card_header_title %} Details utilisateur{% endblock %}
{% block tablecontent %}
        <tbody>



            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prenoms</th>
                <td>{{ user.prenoms }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ user.telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
{#            <tr>#}
{#                <th>Roles</th>#}
{#                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>#}
{#            </tr>#}
            <tr>
                <th>Poste</th>
                <td>{{ user.poste }}</td>
            </tr>
            <tr>
                <th>IsVerified</th>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>


{#    <a href="{{ path('app_user_index') }}">back to list</a>#}

{#    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>#}

{#    {{ include('user/_delete_form.html.twig') }}#}
{% endblock %}
