
<section class="no-padding">

    <div class="row no-space clearfix g-0">

        <div class="column one-third" >

            <a href="#" class="image-box style-title-over animate__animated" data-animation-type="animate__fadeIn" data-animation-delay="0">

                <div class="media">
                    <div class="inner-media">
                        <img src="{{ asset('uploads/home1-restaurant-1.jpg') }}" alt="">
                    </div>
                </div>

                <span class="label">Steak</span>

{#                <span class="discover">Discover more</span>#}

            </a>

        </div>

        <div class="column one-third dark-grey-background animate__animated" data-animation-type="animate__fadeIn" data-animation-delay="100">

            <div class="title-box">
                <div class="box-content">

                    <h3>Un monde de délices culinaires,, <br/>un restaurant cinq étoiles avec une cuisine <br/>créative créative.</h3>

                    <div class="divider10"></div>

                    <a href="{{ path('app_restaurant') }}" class="button medium outline accent no-margin">Menu du jour</a>

                </div>
            </div>

        </div>

        <div class="column one-third animate__animated" data-animation-type="animate__fadeIn" data-animation-delay="200">

            <a href="#" class="image-box style-title-over">

                <div class="media">
                    <div class="inner-media">
                        <img src="{{ asset('uploads/home1-restaurant-2.jpg') }}" alt="">
                    </div>
                </div>

                <span class="label">Poulet braisé</span>

                <span class="discover">Commandez</span>

            </a>

        </div>

        <div class="column one-third animate__animated" data-animation-type="animate__fadeIn" data-animation-delay="300">

            <a href="#" class="image-box style-title-over">

                <div class="media">
                    <div class="inner-media">
                        <img src="{{ asset('uploads/home1-restaurant-3.jpg') }}" alt="">
                    </div>
                </div>

                <span class="label">Fruits de mer</span>

                <span class="discover">Commandez</span>

            </a>

        </div>

        <div class="column one-third animate__animated" data-animation-type="animate__fadeIn" data-animation-delay="400">

            <a href="#" class="image-box style-title-over">

                <div class="media">
                    <div class="inner-media">
                        <img src="{{ asset('uploads/home1-restaurant-4.jpg') }}" alt="">
                    </div>
                </div>

                <span class="label">Pizza</span>

                <span class="discover">Commandez</span>

            </a>

        </div>

        <div class="column one-third animate__animated" data-animation-type="animate__fadeIn" data-animation-delay="500">

            <a href="#" class="image-box style-title-over">

                <div class="media">
                    <div class="inner-media">
                        <img src="{{ asset('uploads/home1-restaurant-5.jpg') }}" alt="">
                    </div>
                </div>

                <span class="label">Mets locaux</span>

                <span class="discover">Commandez</span>

            </a>

        </div>

    </div>

</section>
