<section class="no-padding">

    <div class="row no-space clearfix g-0">

        <div class="column one-third" >

            <a href="{{ path('app_restaurant_menu_details',{'codeprixApplique':platsDujours[0].codeprixApplique}) }}" class="image-box style-title-over animate__animated" data-animation-type="animate__fadeIn" data-animation-delay="0">

                <div class="media">
                    <div class="inner-media">
                        <img src="{{ platsDujours[0].iD.imagesProduits[0] }}" alt="chb - {{ platsDujours[0].iD.libProd}}">
                    </div>
                </div>

                <span class="label">{{ platsDujours[0].iD.libProd}} </span>

{#                <span class="discover">Discover more</span>#}

            </a>

        </div>

        <div class="column one-third dark-grey-background animate__animated" data-animation-type="animate__fadeIn" data-animation-delay="100">

            <div class="title-box">
                <div class="box-content">

                    <h3>Un monde de délices culinaires,, <br/>un restaurant cinq étoiles avec une cuisine <br/>créative créative.</h3>

                    <div class="divider10"></div>

                    <a href="{{ path('app_restaurant') }}" class="button medium outline accent no-margin">Menu du jour</a>

                </div>
            </div>

        </div>

        <div class="column one-third animate__animated" data-animation-type="animate__fadeIn" data-animation-delay="200">

            {% if platsDujours[1] is defined %}
                <a href="{{ path('app_restaurant_menu_details',{'codeprixApplique':platsDujours[1].codeprixApplique}) }}" class="image-box style-title-over">

                    <div class="media">
                        <div class="inner-media">
                            <img src="{{ platsDujours[1].iD.imagesProduits[0] }}" alt="chb - {{ platsDujours[1].iD.libProd}}">
                        </div>
                    </div>

                    <span class="label">{{ platsDujours[1].iD.libProd}}</span>

                    <span class="discover">Commandez</span>

                </a>
            {% else %}
                <a href="#" class="image-box style-title-over">

                    <div class="media">
                        <div class="inner-media">
                            <img src="{{ asset('uploads/home1-restaurant-2.jpg') }}" alt="">
                        </div>
                    </div>

                    <span class="label">Poulet braisé</span>

                    <span class="discover">Commandez</span>

                </a>
            {% endif %}


        </div>

        <div class="column one-third animate__animated" data-animation-type="animate__fadeIn" data-animation-delay="300">

            {% if platsDujours[2] is defined %}
                <a href="{{ path('app_restaurant_menu_details',{'codeprixApplique':platsDujours[2].codeprixApplique}) }}" class="image-box style-title-over">

                    <div class="media">
                        <div class="inner-media">
                            <img src="{{ platsDujours[2].iD.imagesProduits[0] }}" alt="chb - {{ platsDujours[2].iD.libProd}}">
                        </div>
                    </div>

                    <span class="label">{{ platsDujours[2].iD.libProd}}</span>

                    <span class="discover">Commandez</span>

                </a>
            {% else %}
                <a href="#" class="image-box style-title-over">

                    <div class="media">
                        <div class="inner-media">
                            <img src="{{ asset('uploads/home1-restaurant-3.jpg') }}" alt="">
                        </div>
                    </div>

                    <span class="label">Fruits de mer</span>

                    <span class="discover">Commandez</span>

                </a>
            {% endif %}


        </div>

        <div class="column one-third animate__animated" data-animation-type="animate__fadeIn" data-animation-delay="400">

            {% if platsDujours[3] is defined %}
                <a href="{{ path('app_restaurant_menu_details',{'codeprixApplique':platsDujours[3].codeprixApplique}) }}" class="image-box style-title-over">

                    <div class="media">
                        <div class="inner-media">
                            <img src="{{ platsDujours[3].iD.imagesProduits[0] }}" alt="chb - {{ platsDujours[3].iD.libProd}}">
                        </div>
                    </div>

                    <span class="label">{{ platsDujours[3].iD.libProd}}</span>

                    <span class="discover">Commandez</span>

                </a>
            {% else %}
                <a href="#" class="image-box style-title-over">

                    <div class="media">
                        <div class="inner-media">
                            <img src="{{ asset('uploads/home1-restaurant-4.jpg') }}" alt="">
                        </div>
                    </div>

                    <span class="label">Pizza</span>

                    <span class="discover">Commandez</span>

                </a>
            {% endif %}


        </div>


        <div class="column one-third animate__animated" data-animation-type="animate__fadeIn" data-animation-delay="500">

            {% if platsDujours[4] is defined %}
                <a href="{{ path('app_restaurant_menu_details',{'codeprixApplique':platsDujours[4].codeprixApplique}) }}" class="image-box style-title-over">

                    <div class="media">
                        <div class="inner-media">
                            <img src="{{ platsDujours[4].iD.imagesProduits[0] }}" alt="chb - {{ platsDujours[4].iD.libProd}}">
                        </div>
                    </div>

                    <span class="label">{{ platsDujours[4].iD.libProd}}</span>

                    <span class="discover">Commandez</span>

                </a>
            {% else %}
                <a href="#" class="image-box style-title-over">

                    <div class="media">
                        <div class="inner-media">
                            <img src="{{ asset('uploads/home1-restaurant-5.jpg') }}" alt="">
                        </div>
                    </div>

                    <span class="label">Mets locaux</span>

                    <span class="discover">Commandez</span>

                </a>
            {% endif %}


        </div>

    </div>

</section>
