<!-- Services -->
<section class="services bg-cream">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">Nos principaux services</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 p-0 animate-box" data-animate-effect="fadeInLeft">
                <div class="img left">
                    <a href="{{ path('app_restaurant') }}"><img src="{{ asset('assets/front/images/4.jpg') }}"
                                                                alt=""></a>
                </div>
            </div>
            <div class="col-md-6 p-0  valign animate-box" data-animate-effect="fadeInRight">
                <div class="content">
                    <div class="cont text-left">
                        {#                        <div class="info"> #}
                        {#                            <h6>Discover</h6> #}
                        {#                        </div> #}
                        <h4>Hébergement</h4>
                        <p>Chambres confortables avec des lits doubles, des Logements complets comprenant plusieurs
                            pièces,
                            une cuisine équipée avec des équipements prémium et un service de chambre amélioré</p>
                        <div class="butn-dark"><a href="{{ path('app_hebergement') }}"><span>En savoir plus</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6  p-0 order2 valign animate-box" data-animate-effect="fadeInLeft">
                <div class="content">
                    <div class="cont text-left">
                        <h4>Restaurant</h4>
                        <p>
                            CHB offre une variété de plats locaux et internationaux dans une ambiance élégante et
                            atmosphère conviviale, avec un personnel attentif
                            et qualifié, avec un service à table, menus à carte. Plusieurs options de restauration et
                            des menus personnalisés sont disponibles
                            pour une expérience culinaire exceptionnelle.
                        </p>
                        <div class="butn-dark"><a
                                    href="{{ path('app_restaurant') }}"><span>Découvrez nos plats</span></a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 p-0 order1 animate-box" data-animate-effect="fadeInRight">
                <div class="img">
                    <a href="#"><img src="{{ asset('assets/front/images/restaurant-1.jpg') }}"
                                                     alt=""></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 p-0 animate-box" data-animate-effect="fadeInLeft">
                <div class="img left">
                    <a href="#"><img src="{{ asset('assets/front/images/roof.jpg') }}" alt=""></a>
                </div>
            </div>
            <div class="col-md-6 p-0  valign animate-box" data-animate-effect="fadeInRight">
                <div class="content">
                    <div class="cont text-left">
                        <h4>Rooftop Pool</h4>
                        <p>CHB offre une piscine de dimensions moyennes, située au deuxième étage, agrémentée de chaises
                            longues, de tables et de bâches, ainsi que d'un bar proposant boissons et cocktails. Des
                            cours de natation et d'aquagym y sont offerts, sous la surveillance de maîtres-nageurs
                            qualifiés.</p>
                        <div class="butn-dark"><a href="#"><span>Learn More</span></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6  p-0 order2 valign animate-box" data-animate-effect="fadeInLeft">
                <div class="content">
                    <div class="cont text-left">
                        <h4>Pizzeria</h4>
                        <p>
                            Nous avons un large choix de pizzas traditionnelles et gourmandes avec des
                            options végétariennes et véganes. Pizzas cuites dans un four à bois pour une saveur
                            authentique
                        </p>
                        <div class="butn-dark"><a href="#"><span>En savoir plus</span></a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 p-0 order1 animate-box" data-animate-effect="fadeInRight">
                <div class="img">
                    <a href="#"><img src="{{ asset('assets/front/images/home1-restaurant-4.jpg') }}"
                                     alt=""></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 p-0 animate-box" data-animate-effect="fadeInLeft">
                <div class="img left">
                    <a href="#"><img src="{{ asset('assets/front/images/facilities-4.jpg') }}"
                                                     alt=""></a>
                </div>
            </div>
            <div class="col-md-6 p-0  valign animate-box" data-animate-effect="fadeInRight">
                <div class="content">
                    <div class="cont text-left">
                        <h4>Location d’espaces évènementiel</h4>
                        <p>
                            CHB met à votre disposition une salle de fête polyvalente et VIP, ainsi que des espaces
                            extérieurs, tous équipés de systèmes audiovisuels, de Wi-Fi, de mobilier modulable et de
                            services de restauration pour vos événements professionnels et privés.

                        </p>
                        <div class="butn-dark"><a href="#"><span>En savoir plus</span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
