<section class="testimonials">
    <div class="background bg-img bg-fixed section-padding pb-0"
         data-background="{{ asset('assets/front/images/roofPool.jpg') }}" data-overlay-dark="3">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="testimonials-box">
                        <div class="head-box">
                            <h6>Témoignages</h6>
                            <h4>Ce que disent les clients ?</h4>
                            <div class="line"></div>
                        </div>
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <span class="quote"><img src="{{ asset('assets/front/images/quot.png') }}" alt=""></span>
                                <p> Accueil chaleureux, suite somptueuse, service impeccable, expérience de luxe
                                    inoubliable</p>
                                <div class="info">
                                    <div class="author-img"><img src="{{ asset('assets/front/images/teams/3.jpg') }}" alt=""></div>
                                    <div class="cont"><span><i class="star-rating"></i><i class="star-rating"></i><i
                                                    class="star-rating"></i><i class="star-rating"></i><i
                                                    class="star-rating"></i></span>
                                        <h6>Betrand Fio</h6> <span>Guest review</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <span class="quote"><img src="{{ asset('assets/front/images/quot.png') }}" alt=""></span>
                                <p>Expérience au-delà des attentes, personnel professionnel et courtois, chambre
                                    luxueuse, petit-déjeuner buffet délicieux, installations bien équipées.</p>
                                <div class="info">
                                    <div class="author-img"><img src="{{ asset('assets/front/images/teams/6.jpg') }}" alt=""></div>
                                    <div class="cont"><span><i class="star-rating"></i><i class="star-rating"></i><i
                                                    class="star-rating"></i><i class="star-rating"></i><i
                                                    class="star-rating"></i></span>
                                        <h6>Sandra L</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <span class="quote"><img src="{{ asset('assets/front/images/quot.png') }}" alt=""></span>
                                <p>
                                    Séjour parfait, ambiance luxueuse, chambre élégante, personnelle courtois,
                                    installations de bien-être, cuisine délicieuse.
                                </p>
                                <div class="info">
                                    <div class="author-img"><img src="{{ asset('assets/front/images/teams/3.jpg') }}" alt=""></div>
                                    <div class="cont"><span><i class="star-rating"></i><i class="star-rating"></i><i
                                                    class="star-rating"></i><i class="star-rating"></i><i
                                                    class="star-rating"></i></span>
                                        <h6>Olivia M</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
