{{ form_start(form) }}
    {{ form_widget(form) }}

 {% block footerBtn %}
     <div class="float-end">
         <a class="btn btn-primary" type="button" href=" {% block btnretour %} {% endblock %}">
             <i class="fa fa-arrow-left"></i>
             {% block retourtext %}  {% endblock %}</a>

         <button class="btn btn-success" type="submit"><i class="fa fa-check"></i> {{ button_label|default('Save') }}</button>
         <button class="btn btn-warning" type="reset" value="Annuler"><i class="fa fa-times"></i> Annuler
         </button>
     </div>
 {% endblock %}
{#    <button class="btn">{{ button_label|default('Save') }}</button>#}
{{ form_end(form) }}
