{% extends 'admin/base_form_admilte.html.twig' %}
{% block card_header_title %}
    Modifier le type d'hébergement
{% endblock %}




{% block formcontent %}
    {{ form_start(form) }}
    {{ form_widget(form) }}


    {#    <button class="btn">{{ button_label|default('Save') }}</button>#}

{#    {{ include('admin/famille/_form.html.twig', {'button_label': 'Update'}) }}#}
{#    {% block retourtext %} Liste des types d'hébergement {% endblock %}#}


    {% if app.request.attributes.get('_route') == 'admin_famille_edit' %}

        {% if famille.urlimage %}
            <h4>Photo</h4>
            <div>
                <img src="{{ famille.images }}" alt="Image" width="250">
                {#                 <a href="{{ path('admin_presentation_delete_image', {id: presentation.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ presentation.id) }}">Supprimer l'image</a>#}


                {# <a href="{{ path('delete_image', {id: membre.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ membre.id) }}">Supprimer l'image</a> #}
            </div>
        {% endif %}
    {% endif %}

{% endblock %}
  {% block footerBtn %}
      <div class="float-end">
          <a class="btn btn-primary" type="button" href=" {% block btnretour %} {% endblock %}">
              <i class="fa fa-arrow-left"></i>
              {% block retourtext %}  {% endblock %}</a>

          <button class="btn btn-success" type="submit"><i class="fa fa-check"></i> Modifier</button>
          <button class="btn btn-warning" type="reset" value="Annuler"><i class="fa fa-times"></i> Annuler
          </button>
      </div>
      {{ form_end(form) }}
  {% endblock %}

{% block javascript %}
<script src="{{ asset('assets/admin/plugins/tinymce/tinymce.min.js') }}"></script>
<script>
    tinymce.init({
    selector: '#{{ form.description.vars.id }}',
  height: 500,
  plugins: [
    'advlist', 'autolink', 'lists', 'link', 'image', 'charmap', 'preview',
    'anchor', 'searchreplace', 'visualblocks', 'code', 'fullscreen',
    'insertdatetime', 'media', 'table', 'help', 'wordcount'
  ],
  toolbar: 'undo redo | blocks | ' +
  'bold italic backcolor | alignleft aligncenter ' +
  'alignright alignjustify | bullist numlist outdent indent | ' +
  'removeformat | help',
  content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }'
});
</script>


{% endblock %}
