<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->

        <li class="nav-item">
            <a href="{{ path('admin_TB_index') }}" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    Tableau de Bord

                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('admin_presentation_edit',{'id':1}) }}" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    Présentation
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('admin_slider_index') }}" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    Slider

                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('admin_facilities_index') }}" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    Équipements

                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('admin_services_index') }}" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    Services

                </p>
            </a>
        </li>

        <li class="nav-item">
            <a href="{{ path('admin_famille_index') }}" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    Famille

                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('admin_famille_type_hebergement') }}" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    Type appartement

                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('admin_produit_index') }}" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    Produits

                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('admin_galerie_photos_index') }}" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                   Galerie

                </p>
            </a>
        </li>
        {#        <li class="nav-item"> lien pour retouner sur le site #}
        {#            <a href="{{ path('admin_produit_hebergement') }}" class="nav-link"> #}
        {#                <i class="nav-icon fas fa-tachometer-alt"></i> #}
        {#                <p> #}
        {#                    Hébergement #}

        {#                </p> #}
        {#            </a> #}

        {#        </li> #}
        {% if app.user  and is_granted('IS_AUTHENTICATED_FULLY')  %}

            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_PDG')  %}
                <li class="nav-item">
                    <a href="{{ path('admin_statistique') }}" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Statistiques

                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{{ path('admin_user_index') }}" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Listes des utilisateurs

                        </p>
                    </a>
                </li>
            {% endif %}
        {% endif %}
        <li class="nav-item">
            <a href="{{ path('account_password_user') }}" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    Changer le mot de passe

                </p>
            </a>
        </li>
    </ul>
</nav>
