<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bienvenue au Complexe Hôtelier La Bonté – CHB
        {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Barlow&amp;family=Barlow+Condensed&amp;family=Gilda+Display&amp;display=swap">
    <link rel="stylesheet" href="{{ asset('assets/front/css/plugins.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/front/fonts/flaticons/icons.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/front/css/style.css') }}"/>
    {% block stylesheets %}
    {% endblock %}


</head>
<body>
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <!-- Logo -->
        <div class="logo-wrapper">
            <a class="logo" href="{{ path('app_accueil') }}"> <img src="{{ asset('uploads/entreprise/logo.png') }}"
                                                                   class="logo-img" alt=""> </a>
            <!-- <a class="logo" href="index.html"> <h2>THE CAPPA <span>Luxury Hotel</span></h2> </a> -->
        </div>
        <!-- Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"><i class="ti-menu"></i></span></button>
        <!-- Menu -->
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="{{ path('app_accueil') }}">Accueil</a></li>
                <li class="nav-item"><a class="nav-link" href="#">A propos</a></li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" role="button"
                                                 data-bs-toggle="dropdown" data-bs-auto-close="outside"
                                                 aria-expanded="false">Nos services <i class="ti-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('app_hebergement') }}" class="dropdown-item"><span>Hébergement</span></a>
                        </li>
                        <li><a href="{{ path('app_restaurant') }}" class="dropdown-item"><span>Restaurant</span></a>
                        </li>
                        <li><a href="{{ path('app_autres_services',{'services':'rooftop-pool'}) }}" class="dropdown-item"><span>Rooftop Pool</span></a></li>
                        <li><a href="{{ path('app_autres_services',{'services':'pizzeria'}) }}" class="dropdown-item"><span>Pizzeria</span></a></li>
                        <li><a href="{{ path('app_autres_services',{'services':'vip'}) }}" class="dropdown-item"><span>VIP</span></a></li>
                        <li><a href="{{ path('app_autres_services',{'services':'cremerie'}) }}" class="dropdown-item"><span>Crèmerie</span></a></li>
                        <li><a href="{{ path('app_autres_services',{'services':'glacerie'}) }}" class="dropdown-item"><span>Glacerie</span></a></li>
                        <li><a href="{{ path('app_autres_services',{'services':'planchisserie-pressing'}) }}" class="dropdown-item"><span>Blanchisserie / Pressing</span></a></li>
                        <li><a href="{{ path('app_autres_services',{'services':'rooftop-pool'}) }}" class="dropdown-item"><span>Location d’espaces évènementiel</span></a></li>
                        <li><a href="{{ path('app_autres_services',{'services':'locatiom-de-vehicules'}) }}" class="dropdown-item"><span>Location de véhicules</span></a></li>
                        <li><a href="{{ path('app_autres_services',{'services':'livraison'}) }}" class="dropdown-item"><span>Livraison</span></a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">Galleries</a></li>
                {#                    <li class="nav-item"><a class="nav-link" href="spa-wellness.html">Spa</a></li> #}
                {#                    <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Pages <i class="ti-angle-down"></i></a> #}
                {#                        <ul class="dropdown-menu"> #}
                {#                            <li><a href="services.html" class="dropdown-item"><span>Services</span></a></li> #}
                {#                            <li><a href="facilities.html" class="dropdown-item"><span>Facilities</span></a></li> #}
                {#                            <li><a href="gallery.html" class="dropdown-item"><span>Gallery</span></a></li> #}
                {#                            <li><a href="team.html" class="dropdown-item"><span>Team</span></a></li> #}
                {#                            <li><a href="pricing.html" class="dropdown-item"><span>Pricing</span></a></li> #}
                {#                            <li><a href="careers.html" class="dropdown-item"><span>Careers</span></a></li> #}
                {#                            <li><a href="faq.html" class="dropdown-item"><span>F.A.Qs</span></a></li> #}
                {#                            <li class="dropdown-submenu dropdown"> <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" href="#"><span>Other Pages <i class="ti-angle-right"></i></span></a> #}
                {#                                <ul class="dropdown-menu"> #}
                {#                                    <li><a href="404.html" class="dropdown-item"><span>404 Page</span></a></li> #}
                {#                                    <li><a href="coming-soon.html" class="dropdown-item"><span>Coming Soon</span></a></li> #}
                {#                                </ul> #}
                {#                            </li> #}
                {#                        </ul> #}
                {#                    </li> #}
                {#                    <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">News <i class="ti-angle-down"></i></a> #}
                {#                        <ul class="dropdown-menu"> #}
                {#                            <li><a href="news.html" class="dropdown-item"><span>News 1</span></a></li> #}
                {#                            <li><a href="news2.html" class="dropdown-item"><span>News 2</span></a></li> #}
                {#                            <li><a href="post.html" class="dropdown-item"><span>Post Page</span></a></li> #}
                {#                        </ul> #}
                {#                    </li> #}
                <li class="nav-item"><a class="nav-link" href="{{ path('app_contact') }}">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
{% block body %}{% endblock %}

<!-- Footer -->
<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-column footer-about">
                        <h3 class="footer-title">Complexe Hôtelier La Bonté – CHB</h3>
                        <p class="footer-about-text">
                            Appartements Meublés-Chambres d'Hôtel & Repos <br>
                            Bar & Restaurant - VIP <br>
                            Piscine - Location de véhicules - Blanchisserie / Pressing - Location d’espaces évènementiel

                        </p>

                    </div>
                </div>
                <div class="col-md-3 offset-md-1">
                    <div class="footer-column footer-explore clearfix">
                        <h3 class="footer-title">Liens rapides</h3>
                        <ul class="footer-explore-list list-unstyled">
                            <li><a href="{{ path('app_accueil') }}">Accueil</a></li>
                            <li><a href="{{ path('app_hebergement_hotel') }}">Chambres d'Hôtel & Repos</a></li>
                            <li><a href="{{ path('app_restaurant') }}">Restaurant</a></li>
                            <li><a href="#">Location de véhicules</a></li>
                            <li><a href="#">About Hotel</a></li>
                            <li><a href="{{ path('app_contact') }}">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-column footer-contact">
                        <h3 class="footer-title">Contact</h3>
                        <p class="footer-contact-text">
                            Abomey-Calavi, Tokan Aidegnon, fin 5ème von à
                            droite en quittant le carrefour Tokan pour Aitchédji
                        </p>
                        <div class="footer-contact-info">
                            <p class="footer-contact-phone"><span class="flaticon-call"></span> 52431762 / 59595635</p>
                            <p class="footer-contact-mail"> complexehotelierlabontechb@gmail.com</p>
                        </div>
                        <div class="footer-about-social-list">
                            <a href="https://www.instagram.com/residencechb"><i class="ti-instagram"></i></a>
                            <a href="https://tiktok.com/@residence_chb"><i class="ti-twitter"></i></a>
                            <a href=" https://www.youtube.com/@ComplexeHotelierlaBonte-CHB"><i class="ti-youtube"></i></a>
                            <a href="https://www.facebook.com/complexehb"><i class="ti-facebook"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-bottom-inner">
                        <p class="footer-bottom-copy-right">© Copyright 2022 by <a href="#">DuruThemes.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="{{ asset('assets/front/js/jquery-3.6.3.min.js') }}"></script>
<script src="{{ asset('assets/front/js/jquery-migrate-3.0.0.min.js') }}"></script>
<script src="{{ asset('assets/front/js/modernizr-2.6.2.min.js') }}"></script>
<script src="{{ asset('assets/front/js/imagesloaded.pkgd.min.js') }}"></script>
<script src="{{ asset('assets/front/js/jquery.isotope.v3.0.2.js') }}"></script>
<script src="{{ asset('assets/front/js/pace.js') }}"></script>
<script src="{{ asset('assets/front/js/popper.min.js') }}"></script>
<script src="{{ asset('assets/front/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/front/js/scrollIt.min.js') }}"></script>
<script src="{{ asset('assets/front/js/jquery.waypoints.min.js') }}"></script>
<script src="{{ asset('assets/front/js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('assets/front/js/jquery.stellar.min.js') }}"></script>
<script src="{{ asset('assets/front/js/jquery.magnific-popup.js') }}"></script>
<script src="{{ asset('assets/front/js/YouTubePopUp.js') }}"></script>
<script src="{{ asset('assets/front/js/select2.js') }}"></script>
{#    <script src="js/datepicker.js"></script>
    <script src="js/smooth-scroll.min.js"></script> #}
<script src="{{ asset('assets/front/js/smooth-scroll.min.js') }}"></script>
<script src="{{ asset('assets/front/js/custom.js') }}"></script>

{% block javascripts %}

{% endblock %}
</body>
</html>
