{% extends 'front/base.html.twig' %}
{% block stylesheets %}
	<link
		rel="stylesheet"
		href="{{ asset('assets/front/css/facilities.css') }}"/>

	<style>
		.page-header
		{
			position: relative;
			min-height: 500px;
			padding: 240px 0 50px;
			text-align: center;
			background-position: center center;
			background-size: cover;
		}

		.page-header::before
		{
			position: absolute;
			content: "";
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			opacity: 0.55;
			background-color: var(--cs-ca-color-00, #000);
		}
	</style>
{% endblock %}
{% block body %}
	<div
		class="page-header banner-header section-padding valign bg-img bg-fixed"
		data-overlay-dark="3"
		data-background="{{ asset('assets/front/images/page-header-1.jpg') }}">
		<div
			class="container">
			<div
				class="row">
				<div
					class="col-md-12 text-left caption mt-90">

					<h1>
						Hébergement
					</h1>
				</div>
			</div>
		</div>
	</div>
	<section
		class="section-padding">

		<div
			class="row space clearfix">
			{#              <div class="column full">#}
			<div
				class="container">

				<div
					class="section-wrapper-boxed textcenter">

					<div
						class="col-md-12">
						<p
							class="mb-30">
							Hotel non lorem ac erat suscipit bibendum nulla facilisi. Sedeuter nunc volutpat miss sapien vel conseyen turpeutionyer masin libero sevenion vusetion viventa augue sit amet hendrerit vestibulum. Duisteyerion venenatis lacus gravida eros ut turpis interdum ornare.
						</p>
					</div>

					<div
						class="facilities style-full">

						<div
							class="facility-box animate__animated"
							data-animation-type="animate__fadeInUp"
							data-animation-delay="0">

							<div
								class="media">
								<div
									class="inner-media">
									<img
										src="{{ asset('assets/front/images/facilities-1.jpg') }}" alt="">
								</div>
							</div>

							<div
								class="text-box">


								<span
									class="label">
									Chambres d’hôtel et repos
								</span>

								<div
									class="text">
									<p>
										Chambres confortables avec des lits doubles,
										                                          salle de bains privée, Wifi gratuit, télévision, climatiseur, ventilateur et
										                                          service de ménage quotidien.
									</p>
								</div>

								<a
									href="{{ path('app_hebergement_hotel') }}" class="button medium standard accent no-margin">
									Découvrir plus
								</a>

							</div>

						</div>

						<div
							class="facility-box animate__animated"
							data-animation-type="animate__fadeInUp"
							data-animation-delay="0">

							<div
								class="media">
								<div
									class="inner-media">
									<img
										src="{{ asset('assets/front/images/facilities-4.jpg') }}" alt="">
								</div>
							</div>

							<div
								class="text-box">
								<span
									class="label">
									Appartements meublés
								</span>

								<div
									class="text">
									<p>
										Logements complets comprenant plusieurs pièces,
										                                          une cuisine équipée, un salon, une ou plusieurs chambres, une salle de bain.
										                                          Ces logements sont idéaux pour les séjours prolongés.
									</p>
								</div>

								<a
									href="#"
									class="button medium standard accent no-margin">
									Découvrir plus
								</a>

							</div>

						</div>

						<div
							class="facility-box animate__animated"
							data-animation-type="animate__fadeInUp"
							data-animation-delay="0">

							<div
								class="media">
								<div
									class="inner-media">
									<img
										src="{{ asset('assets/front/images/rooms-big-2.jpg') }}" alt="">
								</div>
							</div>

							<div
								class="text-box">
								<span
									class="label">
									Appartements meublés VIP
								</span>

								<div
									class="text">
									<p>
										Chambres spacieuses avec un salon, une kitchenette, des équipements prémium et un service de chambre amélioré.

									</p>
								</div>

								<a
									href="#"
									class="button medium standard accent no-margin">
									Découvrir plus
								</a>

							</div>

						</div>


					</div>


				</div>

			</div>
		</div>

	</section>
{% endblock %}

