{% extends 'front/base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/front/css/facilities.css') }}"/>

    <style>
        .page-header {
            position: relative;
            min-height: 500px;
            padding: 240px 0 50px;
            text-align: center;
            background-position: center center;
            background-size: cover;
        }

        .page-header::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0.55;
            background-color: var(--cs-ca-color-00, #000);
        }

        /* Global */
        .rooms-grid {

        }

        /* Style Hover */
        .rooms-grid.style-hover {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 42px;
        }
        .rooms-grid.style-hover article {
            display: block;
        }
        .rooms-grid.style-hover article .inner {
            position: relative;
        }
        .rooms-grid.style-hover article .inner::after {
            position: absolute;
            display: block;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0.5;
            z-index: 4;
            pointer-events: none;
            background-color: var(--cs-ca-color-00, #000);
        }
        .rooms-grid.style-hover article .inner > a {
            display: block;
            width: 100%;
            height: auto;
            margin: 0;
        }
        .rooms-grid.style-hover article .media {
            position: relative;
            backface-visibility: hidden;
            will-change: contents;
            height: 352px;
            overflow: hidden;
        }
        .rooms-grid.style-hover article .inner-media {
            position: relative;
            overflow: hidden;
            height: 100%;
            transform: scale(1);
        }
        .rooms-grid.style-hover article:hover .inner-media {
            transform: scale(1.04);
        }
        .rooms-grid.style-hover article .inner-media img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .rooms-grid.style-hover article .text {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            padding: 10px 30px;
            z-index: 5;
            text-align: center;
            transform: translateY(-50%);
        }
        .rooms-grid.style-hover article .room-title {
            display: block;
            font-family: 'Canela';
            font-size: 34px;
            line-height: 42px;
            margin-bottom: 0;
            color: var(--cs-ca-color-08, #fff);
        }
        .rooms-grid.style-hover article .room-details {
            position: absolute;
            top: 100%;
            left: 50%;
            opacity: 0.8;
            text-align: center;
            transform: translateX(-50%);
        }
        .rooms-grid.style-hover article .room-details span {
            display: inline-block;
            margin: 0 9px;
            color: var(--cs-ca-color-08, #fff);
        }
        .rooms-grid.style-hover article .room-details span i {
            font-size: 16px;
            vertical-align: middle;
        }
        .rooms-grid.style-hover article .room-price {
            position: absolute;
            bottom: 30px;
            left: 50%;
            padding: 3px 14px;
            z-index: 5;
            color: var(--cs-ca-color-08, #fff);
            background-color: var(--cs-ca-accent-01, #af8c3e);
            transform: translateX(-50%);
        }
        .rooms-grid.style-hover article .room-price .old-price {
            position: absolute;
            left: -40px;
            opacity: 0.5;
            font-weight: 700;
            text-decoration: line-through;
        }
        .rooms-grid.style-hover article .room-price .current-price {
            font-weight: 700;
        }
        .rooms-grid.style-hover article .room-price .current-price span {
            opacity: 0.8;
            font-size: 11px;
            font-weight: 400;
        }

        /* Style Standard */
        .rooms-grid.style-standard {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 60px;
        }
        .rooms-grid.style-standard article {
            display: block;
        }
        .rooms-grid.style-standard article .inner {
            position: relative;
        }
        .rooms-grid.style-standard article .inner > a {
            display: block;
            width: 100%;
            height: auto;
            margin: 0;
        }
        .rooms-grid.style-standard article .media {
            position: relative;
            backface-visibility: hidden;
            will-change: contents;
            overflow: hidden;
        }
        .rooms-grid.style-standard article .inner-media {
            overflow: hidden;
            transform: scale(1);
        }
        .rooms-grid.style-standard article:hover .inner-media {
            transform: scale(1.04);
        }
        .rooms-grid.style-standard article .inner-media img {
            display: block;
            width: 100%;
        }
        .rooms-grid.style-standard article .room-price {
            position: absolute;
            top: 20px;
            left: 20px;
            padding: 0px 12px;
            z-index: 5;
            opacity: 0.85;
            color: var(--cs-ca-color-08, #fff);
            background-color: var(--cs-ca-accent-01, #af8c3e);
        }
        .rooms-grid.style-standard article .room-price .current-price {
            font-weight: 700;
        }
        .rooms-grid.style-standard article .room-price .current-price span {
            opacity: 0.8;
            font-size: 11px;
            font-weight: 400;
        }
        .rooms-grid.style-standard article .text {
            margin-top: 18px;
        }
        .rooms-grid.style-standard article .room-title {
            display: block;
            font-family: 'Canela';
            font-size: 28px;
            line-height: 34px;
            margin-bottom: 14px;
            font-weight: 300;
            color: var(--cs-ca-color-00, #000);
        }
        .rooms-grid.style-standard.bold article .room-title {
            margin-top: 25px;
            font-weight: 400;
        }
        .rooms-grid.style-standard article .room-details {
            margin-bottom: 10px;
        }
        .rooms-grid.style-standard article .room-details span {
            display: inline-block;
            margin-right: 14px;
            color: var(--cs-ca-color-00, #000);
        }
        .rooms-grid.style-standard.bold article .room-details span {
            margin-right: 20px;
        }
        .rooms-grid.style-standard article .room-details span:last-child {
            margin: 0;
        }
        .rooms-grid.style-standard article .room-details span i {
            font-size: 20px;
            margin-right: 4px;
            vertical-align: middle;
        }
        .rooms-grid.style-standard article .text p {
            margin-top: 18px;
        }
        .rooms-grid.style-standard article .explore {
            color: var(--cs-ca-accent-01, #af8c3e);
        }
        .section-wrapper-boxed {
            width: 1200px;
            margin: 0 auto;
        }
        @media only screen and (max-width: 1300px) {
         .section-wrapper-boxed {
            width: auto;
            margin: 0 50px;
        }
        }
        @media only screen and (max-width: 1024px) {
            .rooms-grid.style-standard {
                grid-template-columns: 1fr;
                grid-gap: 45px;
            }

            section {
                padding: 80px 0;
            }
        }

    </style>
{% endblock %}
  {% block body %}
      <!-- Header Banner -->
      <!-- Header Banner -->
      <div class="banner-header section-padding valign bg-img bg-fixed" data-overlay-dark="4" data-background="{{  asset('assets/front/images/page-header-1.jpg') }}">
          <div class="container">
              <div class="row">
                  <div class="col-md-12 text-right caption mt-90">
                      <h5>Pour un confort</h5>
                      <h1>{{ famille.libelle }}</h1>
                  </div>
              </div>
          </div>
      </div>
      <!-- Rooms 3 -->
{#      <div class="page-header banner-header section-padding valign bg-img bg-fixed" data-overlay-dark="3"#}
{#           data-background="{{ asset('assets/front/images/page-header-1.jpg') }}">#}
{#          <div class="container">#}
{#              <div class="row">#}
{#                  <div class="col-md-12 text-left caption mt-90">#}

{#                      <h1>Chambres d’hôtel et repos</h1>#}
{#                  </div>#}
{#              </div>#}
{#          </div>#}
{#      </div>#}
      <section class="grey-background section-padding">
          <div class="row space">
              <div class="column full">
{#                  <div class="section-wrapper-boxed">#}
                  <div class="container">




{#                      <div class="rooms-grid style-standard bold">#}
                      <div class="rooms-grid style-standard bold">
                          {% for chambre in chambres %}
                              {% include 'front/partials/_item_chambres.html.twig' %}
                          {% endfor %}

{#                          <article class="animate__animated" data-animation-type="animate__fadeIn" data-animation-delay="0">#}
{#                              <div class="inner">#}
{#                                  <a href="{{ path('app_hebergement_details') }}">#}

{#                                      <div class="media">#}
{#                                          <div class="inner-media">#}
{#                                              <img src="{{ asset('uploads/hebergement/rooms-grid-1.jpg') }}" alt="">#}
{#                                          </div>#}
{#                                      </div>#}

{#                                      <div class="room-price">#}
{#                                          <span class="current-price">$190 <span>/ night</span></span>#}
{#                                      </div>#}

{#                                      <div class="text">#}

{#                                          <span class="room-title">Single Room Deluxe</span>#}

{#                                          <div class="room-details">#}
{#                                              <span><i class="icon-fi-maximize"></i>38ft2</span>#}
{#                                              <span><i class="icon-fi-bed-6"></i>2 Beds</span>#}
{#                                              <span><i class="icon-fi-group"></i>2 Guests</span>#}
{#                                              <span><i class="icon-fi-bathtub-1"></i>1 Bathroom</span>#}
{#                                          </div>#}

{#                                          <p>Generous floorspace and magnificent original ceiling beams mark out these deliciously decadent rooms with their precious silk lampshades and sapient fin de siècle design touches. What better way to celebrate the joyful lightness by Cassida hotels.</p>#}

{#                                          <span class="explore">Explore</span>#}

{#                                      </div>#}

{#                                  </a>#}
{#                              </div>#}
{#                          </article>#}

{#                          <article class="animate__animated" data-animation-type="animate__fadeIn" data-animation-delay="100">#}
{#                              <div class="inner">#}
{#                                  <a href="{{ path('app_hebergement_details') }}">#}

{#                                      <div class="media">#}
{#                                          <div class="inner-media">#}
{#                                              <img src="{{ asset('uploads/hebergement/rooms-grid-2.jpg') }}" alt="">#}
{#                                          </div>#}
{#                                      </div>#}

{#                                      <div class="room-price">#}
{#                                          <span class="current-price">$190 <span>/ night</span></span>#}
{#                                      </div>#}

{#                                      <div class="text">#}

{#                                          <span class="room-title">Double Room Deluxe</span>#}

{#                                          <div class="room-details">#}
{#                                              <span><i class="icon-fi-maximize"></i>38ft2</span>#}
{#                                              <span><i class="icon-fi-bed-6"></i>2 Beds</span>#}
{#                                              <span><i class="icon-fi-group"></i>2 Guests</span>#}
{#                                              <span><i class="icon-fi-bathtub-1"></i>1 Bathroom</span>#}
{#                                          </div>#}

{#                                          <p>Generous floorspace and magnificent original ceiling beams mark out these deliciously decadent rooms with their precious silk lampshades and sapient fin de siècle design touches. What better way to celebrate the joyful lightness by Cassida hotels.</p>#}

{#                                          <span class="explore">Explore</span>#}

{#                                      </div>#}

{#                                  </a>#}
{#                              </div>#}
{#                          </article>#}

{#                          <article class="animate__animated" data-animation-type="animate__fadeIn" data-animation-delay="0">#}
{#                              <div class="inner">#}
{#                                  <a href="{{ path('app_hebergement_details') }}">#}

{#                                      <div class="media">#}
{#                                          <div class="inner-media">#}
{#                                              <img src="{{ asset('uploads/hebergement/rooms-grid-3.jpg') }}" alt="">#}
{#                                          </div>#}
{#                                      </div>#}

{#                                      <div class="room-price">#}
{#                                          <span class="current-price">$190 <span>/ night</span></span>#}
{#                                      </div>#}

{#                                      <div class="text">#}

{#                                          <span class="room-title">Prestige Family Room</span>#}

{#                                          <div class="room-details">#}
{#                                              <span><i class="icon-fi-maximize"></i>38ft2</span>#}
{#                                              <span><i class="icon-fi-bed-6"></i>2 Beds</span>#}
{#                                              <span><i class="icon-fi-group"></i>2 Guests</span>#}
{#                                              <span><i class="icon-fi-bathtub-1"></i>1 Bathroom</span>#}
{#                                          </div>#}

{#                                          <p>Generous floorspace and magnificent original ceiling beams mark out these deliciously decadent rooms with their precious silk lampshades and sapient fin de siècle design touches. What better way to celebrate the joyful lightness by Cassida hotels.</p>#}

{#                                          <span class="explore">Explore</span>#}

{#                                      </div>#}

{#                                  </a>#}
{#                              </div>#}
{#                          </article>#}

{#                          <article class="animate__animated" data-animation-type="animate__fadeIn" data-animation-delay="100">#}
{#                              <div class="inner">#}
{#                                  <a href="{{ path('app_hebergement_details') }}">#}

{#                                      <div class="media">#}
{#                                          <div class="inner-media">#}
{#                                              <img src="images/rooms-grid-4.jpg" alt="">#}
{#                                          </div>#}
{#                                      </div>#}

{#                                      <div class="room-price">#}
{#                                          <span class="current-price">$190 <span>/ night</span></span>#}
{#                                      </div>#}

{#                                      <div class="text">#}

{#                                          <span class="room-title">Junior Suite</span>#}

{#                                          <div class="room-details">#}
{#                                              <span><i class="icon-fi-maximize"></i>38ft2</span>#}
{#                                              <span><i class="icon-fi-bed-6"></i>2 Beds</span>#}
{#                                              <span><i class="icon-fi-group"></i>2 Guests</span>#}
{#                                              <span><i class="icon-fi-bathtub-1"></i>1 Bathroom</span>#}
{#                                          </div>#}

{#                                          <p>Generous floorspace and magnificent original ceiling beams mark out these deliciously decadent rooms with their precious silk lampshades and sapient fin de siècle design touches. What better way to celebrate the joyful lightness by Cassida hotels.</p>#}

{#                                          <span class="explore">Explore</span>#}

{#                                      </div>#}

{#                                  </a>#}
{#                              </div>#}
{#                          </article>#}

{#                          <article class="animate__animated" data-animation-type="animate__fadeIn" data-animation-delay="0">#}
{#                              <div class="inner">#}
{#                                  <a href="{{ path('app_hebergement_details') }}">#}

{#                                      <div class="media">#}
{#                                          <div class="inner-media">#}
{#                                              <img src="images/rooms-grid-5.jpg" alt="">#}
{#                                          </div>#}
{#                                      </div>#}

{#                                      <div class="room-price">#}
{#                                          <span class="current-price">$190 <span>/ night</span></span>#}
{#                                      </div>#}

{#                                      <div class="text">#}

{#                                          <span class="room-title">Prestige Suite</span>#}

{#                                          <div class="room-details">#}
{#                                              <span><i class="icon-fi-maximize"></i>38ft2</span>#}
{#                                              <span><i class="icon-fi-bed-6"></i>2 Beds</span>#}
{#                                              <span><i class="icon-fi-group"></i>2 Guests</span>#}
{#                                              <span><i class="icon-fi-bathtub-1"></i>1 Bathroom</span>#}
{#                                          </div>#}

{#                                          <p>Generous floorspace and magnificent original ceiling beams mark out these deliciously decadent rooms with their precious silk lampshades and sapient fin de siècle design touches. What better way to celebrate the joyful lightness by Cassida hotels.</p>#}

{#                                          <span class="explore">Explore</span>#}

{#                                      </div>#}

{#                                  </a>#}
{#                              </div>#}
{#                          </article>#}

{#                          <article class="animate__animated" data-animation-type="animate__fadeIn" data-animation-delay="100">#}
{#                              <div class="inner">#}
{#                                  <a href="{{ path('app_hebergement_details') }}">#}

{#                                      <div class="media">#}
{#                                          <div class="inner-media">#}
{#                                              <img src="images/rooms-grid-6.jpg" alt="">#}
{#                                          </div>#}
{#                                      </div>#}

{#                                      <div class="room-price">#}
{#                                          <span class="current-price">$190 <span>/ night</span></span>#}
{#                                      </div>#}

{#                                      <div class="text">#}

{#                                          <span class="room-title">Prestige Family Suite</span>#}

{#                                          <div class="room-details">#}
{#                                              <span><i class="icon-fi-maximize"></i>38ft2</span>#}
{#                                              <span><i class="icon-fi-bed-6"></i>2 Beds</span>#}
{#                                              <span><i class="icon-fi-group"></i>2 Guests</span>#}
{#                                              <span><i class="icon-fi-bathtub-1"></i>1 Bathroom</span>#}
{#                                          </div>#}

{#                                          <p>Generous floorspace and magnificent original ceiling beams mark out these deliciously decadent rooms with their precious silk lampshades and sapient fin de siècle design touches. What better way to celebrate the joyful lightness by Cassida hotels.</p>#}

{#                                          <span class="explore">Explore</span>#}

{#                                      </div>#}

{#                                  </a>#}
{#                              </div>#}
{#                          </article>#}

                      </div>

                  </div>
              </div>
          </div>
      </section>
  {% endblock %}
