{% extends 'front/base.html.twig' %}
{% block stylesheets %}
    <style>
        /* ---------------------- */
        /* Pricing Tables         */
        /* ---------------------- */
        .pricing-tables {
            text-align: left;
        }

        .pricing-tables .pricing-column.column.one-third {
            width: calc(33.333% - 35px);
            margin: 0 52px 52px 0;
            background-color: var(--cs-ca-color-08, #fff);
            box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.12);
        }

        .pricing-tables .pricing-column.column.one-third.last {
            margin-right: 0;
        }

        .pricing-tables .pricing-column.column.one-third.grey-background {
            background-color: #f7f7f7;
        }

        .pricing-tables .pricing-column.column.one-third.no-margin-bottom {
            margin-bottom: 0;
        }

        .pricing-tables .pricing-column .media {
            position: relative;
            overflow: hidden;
            backface-visibility: hidden;
            will-change: contents;
        }

        .pricing-tables .pricing-column .inner-media {
            position: relative;
            height: 175px;
            overflow: hidden;
            transform: scale(1);
        }

        .pricing-tables .pricing-column:hover .inner-media {
            transform: scale(1.05);
        }

        .pricing-tables .pricing-column .inner-media img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .pricing-tables .pricing-column .content {
            padding: 30px 35px;
        }

        .pricing-tables .pricing-column .price {
            margin-bottom: 5px;
        }

        .pricing-tables .pricing-column .old-price {
            font-size: 16px;
            opacity: 0.8;
            margin-right: 10px;
            text-decoration: line-through;
        }

        .pricing-tables .pricing-column .current-price {
            font-size: 20px;
            color:  #af8c3e;
        }

        .pricing-tables .pricing-column .current-price span {
            font-weight: 400;
            font-size: 13px;
            opacity: 0.8;
            color: #4d4d4d;
        }

        .pricing-tables .pricing-column .label {
            position: relative;
            display: block;
            font-family: 'Canela';
            font-size: 20px;
            line-height: 40px;
            font-weight: 300;
            padding-bottom: 18px;
            margin-bottom: 20px;
            color: var(--cs-ca-color-00, #000);
        }

        .pricing-tables .pricing-column .label::after {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            width: 50px;
            height: 1px;
            background-color: #999;
        }

        .pricing-tables .pricing-column .features {
        }

        .pricing-tables .pricing-column .features p {
            font-size: 15px;
            line-height: 34px;
            margin: 0;
            color: var(--cs-ca-color-05, #808080);
        }

        /* ---------------------- */
        .butn-dark a {
            font-weight: 400;
            font-family: 'Roboto', sans-serif;
            background: #0707f2;
            /*background: #ab8a62;*/
            color: #fff;
            padding: 13px 10px;
            margin: 0;
            position: relative;
            font-size: 10px;
            letter-spacing: 3px;
        }

        .link-btn i {
            margin-left: 3px;
            font-size: 10px;
            color: #aa8453;
        }

        .link-btn {

            /* text-transform: uppercase; */
            font-family: 'Barlow Condensed', sans-serif;
            font-size: 10px;
            font-weight: 400;

        }
    </style>
{% endblock %}
{% block body %}

    <header class="header slider">
        <div class="owl-carousel owl-theme">
            <!-- The opacity on the image is made with "data-overlay-dark="number". You can change it using the numbers 0-9. -->
            <div class="text-center item bg-img" data-overlay-dark="3" data-background="img/restaurant/1.jpg"></div>
            <div class="text-center item bg-img" data-overlay-dark="3" data-background="img/restaurant/2.jpg"></div>
            <div class="text-center item bg-img" data-overlay-dark="3" data-background="img/restaurant/3.jpg"></div>
        </div>
        <!-- arrow down -->
        <div class="arrow bounce text-center">
            <a href="#" data-scroll-nav="1" class=""> <i class="ti-arrow-down"></i> </a>
        </div>
    </header>
    <!-- Restaurant Content -->
    <section class="rooms-page section-padding" data-scroll-index="1">
        <div class="container">
            <div class="row">
                {#                <div class="col-md-12 text-left"> #}
                {#                    <span> #}
                {#                        <i class="star-rating"></i> #}
                {#                        <i class="star-rating"></i> #}
                {#                        <i class="star-rating"></i> #}
                {#                        <i class="star-rating"></i> #}
                {#                        <i class="star-rating"></i> #}
                {#                    </span> #}
                {#                    <div class="section-subtitle">An Experience for the Senses</div> #}
                {#                    <div class="section-title">The Restaurant</div> #}
                {#                </div> #}
                <div class="col-md-12">
                    <p class="mb-30">
                        CHB offre une variété de plats locaux et internationaux dans une ambiance élégante et
                        atmosphère conviviale, avec un personnel attentif
                        et qualifié, avec un service à table, menus à carte. Plusieurs options de restauration et
                        des menus personnalisés sont disponibles
                        pour une expérience culinaire exceptionnelle.
                    </p>
                    <h6>Cuisine</h6>
                    <p>Offre une variété de plats locaux et internationaux, préparés avec
                        des ingrédients frais.</p>
                    <h6>Ambiance</h6>
                    <p>Décor élégant et atmosphère convivial, parfait pour les repas
                        en famille ou les diners romantiques.</p>
                    <h6>Services</h6>
                    <p>Service à table, menus à carte, et parfois des évènements
                        spéciaux.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Restaurant Menu -->
    <section class="rooms-page section-padding">
        <div class="container">

            <div class="pricing-tables clearfix">
                <div class="row space clearfix">
                    {% for menu in menus %}
                        <div class="col-md-4 mb-5">
                            {#                            <div class="pricing-column grey-background"> #}
                            <div class="card pricing-column grey-background">
                                {#                                    <img src="{{ menu.iD.imageProduit }}" class="card-img-top" alt="..."> #}
                                <div class="media">
                                    <div class="inner-media">
                                        <img src="{{ menu.produit.imagesProduits|first }}" alt="">
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="price">
                                        {#                                        <span class="old-price">$90</span> #}
                                        <span class="current-price"> {{ menu.prix |number_format(0, ' ', ' ') }} FCFA</span>
                                    </div>
                                    <span class="label">{{ menu.produit.libelle }}</span>
                                    <div class="features">

                                        {{ menu.produit.description ? menu.produit.description | slice(0,165)~" ..." : "" }}

                                        {#                                        <p>Special bespoke catering menu for you</p> #}
                                        {#                                        <p>Birthday celebration fully included</p> #}
                                        {#                                        <p>Exceptional Festive ultimate catering</p> #}
                                        {#                                        <p>Romantic dinner just for two</p> #}
                                        {#                                        <p>All the planning stages provided</p> #}
                                    </div>
                                    <hr class="border-2">
                                    <div class="info-wrapper text-end">
                                        <div class="more"><a href="{{ path('app_restaurant_menu_details',{'id':menu.id}) }}"
                                                             class="link-btn"
                                                             tabindex="0">Details <i class="ti-arrow-right"></i></a>
                                        </div>

                                    </div>
                                </div>
                                {#                                </div> #}
                                {#                            <div class="media"> #}
                                {#                                <div class="inner-media"> #}
                                {#                                    <img src="{{ menu.iD.imageProduit }}" alt=""> #}
                                {#                                </div> #}
                                {#                            </div> #}
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>

    </section>
{% endblock %}
