{% extends 'admin/base_admin.html.twig' %}

{% block body %}
    <div class="card card-success">
        <div class="card-header">
            <h5>Modification d'un service</h5>
        </div>
        {{ form_start(form) }}


        <div class="card-body">
            {{ form_widget(form) }}

            {% if (service.image ) and (app.request.attributes.get('_route') == 'admin_services_edit')%}
                {#                {% if app.request.attributes.get('_route') == 'admin_slider_edit' %}#}
                <h2>Image</h2>

                <div>
                    <img src="{{ service.imageService }}" alt="Image" width="250">
                    {#                 <a href="{{ path('admin_presentation_delete_image', {id: presentation.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ presentation.id) }}">Supprimer l'image</a> #}


                    {# <a href="{{ path('delete_image', {id: membre.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ membre.id) }}">Supprimer l'image</a> #}
                </div>
                {#                {% endif %}#}
            {% endif %}

        </div>
        <div class="card-footer">
            <div class="float-end">
                <a class="btn btn-primary" type="button" href="{{ path('admin_services_index') }}">
                    <i class="fa fa-arrow-left"></i>
                    Retour à la liste des services</a>

                <button class="btn btn-success" type="submit"><i class="fa fa-check"></i> Modifier</button>
                <button class="btn btn-warning" type="reset" value="Annuler"><i class="fa fa-times"></i> Annuler
                </button>
            </div>

        </div>

        {{ form_end(form) }}

    </div>




{% endblock %}

{% block javascript %}
<script src="{{ asset('assets/admin/plugins/tinymce/tinymce.min.js') }}"></script>

<script>
tinymce.init({
  selector: '#{{ form.description.vars.id }}',
  height: 500,
  plugins: [
    'advlist', 'autolink', 'lists', 'link', 'image', 'charmap', 'preview',
    'anchor', 'searchreplace', 'visualblocks', 'code', 'fullscreen',
    'insertdatetime', 'media', 'table', 'help', 'wordcount'
  ],
  toolbar: 'undo redo | blocks | ' +
  'bold italic backcolor | alignleft aligncenter ' +
  'alignright alignjustify | bullist numlist outdent indent | ' +
  'removeformat | help',
  content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }'
});
</script>
{% endblock %}
